<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of all the articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>Blog.app</h2>
      </div>
      <div class="cta-btn">
        <a href="/" class="previous">Home</a>
      </div>
    </header>
    <main>
      <section class="single-article">
        <div class="container">
          <article>
            <h2 class="title"><%= article.title%></h2>
            <div class="additional-information">
              <div>
                <span><%= article.author%></span>
                <span><%= article.tags%></span>
              </div>
              <div class="likes-container">
                <span class="article-likes"><%= article.likes%></span>
                <a href="/articles/<%= article._id %>/<%= article.likes %>/like"
                  >like</a
                >
                <a
                  href="/articles/<%= article._id %>/<%= article.likes %>/dislike"
                  >dislike</a
                >
              </div>
            </div>
            <p class="description"><%= article.description %></p>
            <div class="action-container">
              <a
                href="/articles/<%= article._id %>/edit/"
                class="action-btn edit-btn"
                >edit</a
              >
              <a
                href="/articles/<%= article._id %>/delete"
                class="action-btn delete-btn"
                >delete</a
              >
            </div>
            <div class="comment-container">
              <h4>All Comments here ...</h4>
              <%comments.forEach(eachComment=>{ %>
              <h5><%= eachComment.content%></h5>
              <div class="comment-action-container">
                <a
                  href="/comments/<%=eachComment._id%>/edit"
                  class="action-btn edit-btn"
                  >edit</a
                >
                <a
                  href="/comments/<%=eachComment._id%>/delete"
                  class="action-btn delete-btn"
                  >delete</a
                >
                <span><%= eachComment .likes%></span>
                <a
                  href="/comments/<%=eachComment._id%>/<%=eachComment.likes%>/like"
                >
                  like</a
                >
                <a
                  href="/comments/<%=eachComment._id%>/<%=eachComment.likes%>/dislike"
                >
                  dislike</a
                >
              </div>
              <%})%>
            </div>
            <div class="comment-form-container">
              <h4>Post a Comment here ...</h4>
              <form action="/articles/<%=article._id%>/comments" method="POST">
                <input
                  type="text"
                  name="author"
                  placeholder="Enter your name here .."
                  id="inputBox"
                />
                <textarea
                  name="content"
                  cols="30"
                  rows="5"
                  placeholder="enter  the comment here ..."
                >
                </textarea>
                <input type="submit" id="inputBox" value="submit" />
              </form>
            </div>
          </article>
        </div>
      </section>
    </main>
    <script src="javascript/addLike.js"></script>
  </body>
</html>
